#noAccountNav{
    position: relative;
    width:30%;
    float:right;
    font-size:1em;
    
}
#logInBtn{
    height: 2em;
    border: none;
    background-color:black ;
    font-size: .9em;
    color:white;
}
#logInBtn:hover{
    height: 2em;
    border: none;
    background-color: white ;
    font-size: .9em;
    color:black;
    cursor:pointer;
}


.logIn{
    height:2em; 
    font-size: .9em;
    background-color:#ffffff;
    width:40%
}

